$black: #19191e;
$gray: rgb(128,128,128);
$red: rgb(163, 27, 27);
$red-dark: rgb(143, 27, 27);
$white: rgb(255, 255, 255);

html{
    scroll-behavior: smooth !important;
}
/* width */
::-webkit-scrollbar {
    width: 0.5rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-image: linear-gradient(180deg, $red 0%, $red-dark 99%);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

body{
    box-sizing: border-box !important;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75rem;
}

// HEADER

.header_main{
    &__nav{
        display: flex;
        height: 3rem;
        padding: 1rem 5rem;
        // border-bottom: 0.1rem solid #b6b6b64d;

        // background:rgba(255, 255, 255, 0.3);
        text-transform: uppercase;
        &__logo{
            display: flex;
            align-items: center;
            flex: 1;
            div{
                font-size: 1rem;
                margin-left: 1rem;
                font-weight: bold;
            }
            img{
                height: 100%;
            }
        }
        &__menu{
            flex: 1;

            &--left{
                ul{
                    display: flex;
                    list-style: none;
                    justify-content: space-evenly;
                    li{
                        text-align: end;
                        flex: 1;
                    }
                    a{
                        font-size: 1rem;
                        text-decoration: none;
                        font-weight: bold;                        
                        color: $black;
                    }
                    a:hover{
                        color: $gray;
                    }
                }
            }
            
        }
    }
    .burger{
        cursor: pointer;
        display: none;
        div{
            width: 2rem;
            height: .2rem;
            background: black;
            margin: .4rem;
        }
    }
}
@media screen and (max-width: 1000px){

    body{
        overflow-x: hidden;
    }
    .header_main{
        background: white;
        &__nav{
            height: 8vh;
            &__menu{
                opacity: 0;
                position: absolute;
                right: 0px;
                top: 8vh;
                background-color: white;
                height: 92vh;
                padding: 4rem;
                transform: translateX(100%);
                transition: transform 0.5s ease-in;
                z-index: 10;
                ul{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    height: 92vh;
                    width: 25vw;
                    margin-top: 0;
                }
                display: flex;
                flex-direction: column;
            }
        }
        .burger{
            margin-top: 0.5rem;
            display: block;
        }
        .burger div:nth-child(2)::before{
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            top: 0;
            left: 0;
            transition: transform 0.5s ease-in;
        }
        .nav-active{
            transform: translateX(0);
            opacity: 1;
        }
        .opened{
            transition: transform 0.5s ease-out;
            div{
                transition: transform 0.5s ease-in;
            }
            div:nth-child(1){
                opacity: 0;
            }
            div:nth-child(2){
                transform: rotate(-45deg);
            }
            div:nth-child(2)::before{
                    content: "";
                    position: absolute;
                    width: 2rem;
                    height: .2rem;
                    background: black;
                    transform: rotate(90deg);
                    top:0;
                    left:0;
            }
            div:nth-child(3){
                opacity: 0;
            }
        }
    }   
    .footer{
        justify-content: space-evenly!important;
        &__menu{
            margin-right: 10%;            
        }
        &__up{
            margin-right: 15vw;            
        }
        &__media{
            margin-right: 10%;            
        }
    }
    .section-one{
        width: 100%!important;;
        margin: 110vh 0 0 0!important;
        flex-direction: column;
        &__photo{
            height: 100vh;
            width: 100%;
            &--main{
                img{
                    position: static!important;
                    margin: 0!important;
                }
            }
            .icon{
                display: none;
            }
        }
        &__text{
            margin: 5% 10% 10% 10%;
        }
    }

    .section-three{
        &__top{
            display: flex;
            flex-direction: column;
            height: 100vh;
            position: relative;
            margin-bottom: 10vh;
            &--photo{
                height: 50vh;
                width:100%;
                img{
                    object-fit: cover;
                }
            }
            &__right{
                height: 50vh;
                margin: 10% 5%;
                padding: 0!important;
                width: 90%!important;
            }
            &--element{
                position: absolute;
                left: 0;
                top: 65vh;
            }
        }
        &__bottom{
            display: flex;
            flex-direction: column;
            height: 100vh;
            position: relative;
            margin-top: 10vh;
            &--photo{
                position: relative;
                top: -40vh;
                left: 0;
                height: 50vh!important;
                width: 100%!important;
                img{
                    width: 100%;
                    object-fit: cover;
                    clip-path: none!important;
                }
            }
            &__left{
                position: relative;
                top: 50vh;
                left:0;
                width: 90%!important;
            }
            &--element{
                position: absolute;
                right: 0;
                top: 50vh;
            }
        }
    }



    .main{
        .form{
            width: 80%;
            #wpcf7-f97-o1{        
                .wpcf7-form{
                    display: flex;
                    flex-direction: column;
                    .single{
                        width: 80vw!important;
                        select, input, textarea{
                            padding: 2rem 0rem 2rem 1rem;
                        }
                    }
                    .second-column{
                        margin:0;
                        select, textarea{
                            width: 67.5vw;
                        }
                        input{
                            margin: 0;
                            width: 67.5vw;
                            height: 5rem;
                            font-size: 2rem;
                        }
                    }
                }
                
            }
        }
    }
    .main{
        .contact{
            height: 100vh!important;
            width: 100%!important;
            border: none!important;
            &__body{
                padding: 0 5vw!important;
            }
        }
    }
    .flight-container{
        width: 100vw!important;
        height: 80vh!important;
        margin-left: 0!important;
        .acf-map{
            height: 100%!important;
        }
    }


}

// FOOTER

.footer{
    margin-top: 10%;
    height: 15vh;
    background: $red;
    color: #fff;
    padding: 1rem;

    display: flex;
    justify-content: space-around;
    overflow: hidden;
    a{
        color: #fff;
        text-decoration: none;
    }
    li{
        list-style: none;
    }
    &__menu{
        ul{
            li{
                padding-bottom: 1rem;
                a:hover{
                    color: rgb(189, 189, 189);
                }
            }
        }
    }
    &__media{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        &--one{
            height: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                height: 100%;
            }
        }
    }
    &__up{
        position: relative;
        .balloon{
            position: absolute;
            left: 40%;
            width: 5rem;
            height: 5rem;
            background:rgb(255, 255, 255);
            border-radius: 50%;
            z-index: 2;
            animation: float 3s infinite;
            transition: all 0.4s ease-out; 
            cursor: pointer;
            .arrow {
                position: absolute;
                border: solid #fff;
                border-width: 0 3px 3px 0;
                display: inline-block;
                padding: 3px;
                left: 6rem;
                top: 3.5rem;
            }
            .arrow:nth-child(1){
                top: 4rem;
            }
            .arrow:nth-child(2){
                top: 4.5rem;
            }
            .right {
                transform: rotate(-90deg);
                -webkit-transform: rotate(-135deg);
            }
        }
        @keyframes float{
            50%{
                transform: translateY(0.75rem);
            }
        }
        .balloon:before{
            position: absolute;
            left: 0.5rem;
            content: "";
            width: 4rem;
            height: 5rem;
            background: #db8534;
            border-radius: 50%;
            z-index: 2;
        }
        .balloon:after{
            position: absolute;
            top: 0;
            left: 1.5rem;
            content: "";
            width: 2rem;
            height: 5rem;
            background: rgb(255, 255, 255);
            border-radius: 50%;
            z-index: 2;
        }
        .balloon:hover{
            opacity: 0.85;
        }
        .bottom{
            background: #fff;
            position: absolute;
            height: 1rem;
            width: 2rem;
            left: 1.5rem;
            bottom: -0.5rem;
            z-index: 1;
        }
        .bottom:after{
            position: absolute;
            bottom: -0.2rem;
            left: -0.1rem;
            content: "";
            width: 2.2rem;
            height: 0.3rem;
            background: #fff;
            z-index: 1;
        }
        .basket{
            position: absolute;
            bottom: -3rem;
            left: 1.6rem;
            width: 1.8rem;
            height: 1rem;
            background: #fff;
            border-radius: 20%;
        }
        .basket:before{
            content: "";
            position: absolute;
            background: #fff;
            left: -0.1rem;
            top: 0rem;
            width: 2rem;
            height: 0.2rem;
            z-index: 2;
            border-radius: 20%;
        }
        .rope{
            position: absolute;
            left: 2.5rem;
            top: 5rem;
            height: 2rem;
            width: 0.1rem;
            background: #fff;
        }
        .rope:before{
            content: "";
            position: absolute;
            top: 0.6rem;
            left: 0.70rem;
            height: 1.5rem;
            width: 0.1rem;
            background: #fff;
            z-index: 3;
            transform: rotate(20deg);
        }
        .rope:after{
            content: "";
            position: absolute;
            top: 0.6rem;
            left: -0.80rem;
            height: 1.5rem;
            width: 0.1rem;
            background: #fff;
            z-index: 3;
            transform: rotate(-20deg);
        }
        
    }
}

// LOADER


// MAIN VIDEO

.video-background {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  height: 100vh;
  z-index: -99;
  overflow: hidden;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#vidtop-content {
	top: 0;
	color: #fff;
}


@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}

.section-one{
    background: #fff;
    margin: 110vh 10% 0 10%;
    display: flex;
    width: 80%;
    height: 60%;
    justify-content: center;
    &__photo{
        position: relative;
        width: 100%;
        height: 25rem;
        flex: 1;
        opacity: 1;
        transition: 500ms ease-out;
        &--main{
            img{
                position: absolute;
                margin-left: -30%;
                clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);

                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .icon{
                position: absolute;
                width: 4rem;
                height: 4rem;
                background: $red;
                border-radius: 0.5rem;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            }
            &--right{
                left: 40%;
                bottom: -2rem;
                img{
                    width: 50%;
                    object-fit: scale-down;
                    margin-left: 1rem;
                    clip-path: none;
                }
            }
            &--left{
                left: -8%;
                top: -2rem;
                img{
                    width: 50%;
                    object-fit: scale-down;
                    margin-left: 1rem;
                    clip-path: none;
                }
            }
        }
        
    }
    &__text{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        transition: 500ms ease-out;
        &--title{
            margin-bottom: 1rem;
            font-weight: bold;
            font-size: 1.5rem;
        }
        &--desc{
            line-height: 1.5rem;
        }
    }
}

.section-two{
    margin: 10% 5% 0 5%;
    display: flex;
    justify-content: space-evenly;
    
    &__one{
        width: 25%;
        height: 35rem;
        display: flex;
        flex-direction: column;

        text-align: center;
        border-radius: 1rem;
        box-shadow: 0.3rem 0.3rem 0.8rem rgba(0,0,0,0.9);
        overflow: hidden;
        transition: 0.5s ease;
        &--imgbox{
            img{
                width: 100%;
                height: 15rem;
                object-fit: cover;
            }
        }
        &--date{
            margin-top: 1rem;
            color: $red-dark;
            font-weight: bold;
        }
        &--title{
            font-size: 1.2rem;
            font-weight: bold;
        }
        &--desc{
            line-height: 1.3rem;
            overflow: hidden;
        }
        &--button{
            cursor: pointer;
            border: 0;
            background: transparent;
            color: $red-dark;
            font-weight: bold;
            transition:all 250ms ease-in-out;
            .arrow {
                border: solid $red;
                border-width: 0 3px 3px 0;
                display: inline-block;
                padding: 3px;
              }
              
            .right {
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
            }
        }
        &--button:hover{
            transform: scale(1.2);
            opacity: 0.6;
        }
        &__stats{
            margin-top: auto;
            display: flex;
            background: $red;
            color: white;
            &--info{
                flex: 1;
                padding: 5%;
                height: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                &--up{
                    display: flex;
                }
                &--number{
                    font-size: 1rem;
                    font-weight: bold;
                }
                &--metric{
                }
                &--type{
                    color: rgba(256,256,256,0.75);
                    text-transform: uppercase;
                    font-size: 0.6rem;
                }
            }
            .special{
                border-left: $red-dark solid 0.1rem;
                border-right: $red-dark solid 0.1rem;
            }
        }
    }
    &__one:hover{
        transform: scale(1.15);
        box-shadow: 0.3rem 0.3rem 0.8rem rgba(0,0,0,0.9);
    }
}

@media screen and (max-width: 950px){
    .section-two{
        margin: 10% 0;
        display: flex;
        flex-direction: column;
        &__one{
            width: 100%;
            height: 100vh;
            // box-shadow: none;
            // border-radius: 0 0 10% 10%;
            margin-bottom: 10%;
            &--button{
                padding-top: 10vh;
                transform: scale(3);
            }
            &--button:hover{
                transform: scale(4);
            }
        }
        &__one:hover{
            transform: none;
            box-shadow: none;
        }
    }
}


//contact

.main_contact{
    
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 75vh;
    .contact{
        margin-top: 10%;
        width:75%;
        height:25rem;
        background:#fff;
        padding:1rem 1.5rem;
        overflow:hidden;
        border: solid 0.1rem $red-dark;
        border-radius: 5rem 5rem 5rem 5rem;
        border-color: transparent $red transparent $red-dark;
        // box-shadow:0.3rem 0.6rem 0.3rem #ccc;
        &__top{
            height: 4rem;
            display: flex;
            align-items: center;
            .active{
                color: $red-dark;
            }
            div{
                width:calc(100% / 4);
                text-align:center;
                color:#888;
                font-weight:600;
                cursor: pointer;
                font-size:14px;
                text-transform:uppercase;
                outline:none;
            }
        }
        &__indicator{
            position:relative;
            width:25%;
            height:0.25rem;
            background:$red-dark;
            left:0px;
            border-radius:0.2rem;
            transition:all 500ms ease-in-out;
        }
        &__body{
            position:relative;
            height:calc(100% - 60px);
            padding:10px 5px;
            div{
                position:absolute;
                top:-200%;
                opacity:0;
                transform:scale(0.9);
                transition:opacity 500ms ease-in-out 0ms,
                transform 500ms ease-in-out 0ms;
            }
            .active{
                top:0px;
                opacity:1;
                transform:scale(1);
            }
        }
    }
}

.section-three{
    &__top{
        position: relative;
        width: 15rem;
        &--photo{
            width: 50%;
            height: 35rem;
            display: flex;
            z-index:1;
        img{
            clip-path: circle(68.4% at 27% 70%);
            }
        }
        &__right{
            margin-top: 10%;
            width: 50%;
            padding: 2rem 5rem;
        }
        &--element{
            position: absolute;
            background: $red-dark;
            height: 10%;
            width: 25%;
            border-radius: 0 0 5rem 0;
            z-index: 0;
            bottom: -3rem;
            left:0;
        }
    }
    &__bottom{
        position: relative;
        &--photo{
            overflow: hidden;
            width: 70%;
            height: 35rem;
            display: flex;
            img{
                clip-path: circle(80.8% at 83% 75%);
            }
            
        }
        &__left{
            margin-top: 10%;
            width: 50%;
            padding: 2rem 5rem;
        }
        &--element{
            position: absolute;
            background: $red-dark;
            height: 10%;
            width: 25%;
            border-radius: 0 0 0 5rem;
            z-index: 0;
            bottom: -3rem;
            right:0;
        }
    }
    
    .one{
        position: relative;
        margin-top: 10%;
        display: flex;
        width: 100%;
    }
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    .form{
        width: 75%;
        margin-top: 5%;
        padding:1rem 1.5rem;
        border: solid 0.1rem $red-dark;
        border-radius: 10rem 0rem 0rem 5rem;
        border-color: $red;
        #wpcf7-f97-o1{
            padding: 5% 10%;
            form{
                display: flex;
                justify-content: center;
                .first-column{
                    box-sizing: border-box;
                    flex: 1;
                    width: 5rem;
                    input{
                        width:80%;
                        padding: 0.5rem 0.75rem;
                        transition: .2s;
                    }
                    input:focus{
                        background: rgba(147,27,27,0.3);
                    }
                    .single{
                        padding-top: 0.5rem;
                    }
    
                }
                .second-column{
                    margin-left: 1rem;
                    flex: 1;
                    width: 15rem;
                    select{
                        width: 100%;
                        padding: 0.5rem 0.75rem;
                    }
                    .single{
                        padding-top: 0.5rem;
                    }
                    textarea{
                        width: 100%;
                        height: 7rem;
                        box-sizing: border-box;
                        padding: 0.5rem;
                    }
                    input{
                        margin-left: 35%;
                        width: 30%;
                        padding: 0.3rem 0.75rem;
                        background-image: linear-gradient(90deg, $red , $red-dark);
                        color: white;
                        // font-weight: bold;
                        text-transform: uppercase;
                        border: 0;
                        border-radius: 0.5rem;
                    }
                    select:focus, textarea:focus{
                        background: rgba(147,27,27,0.3);
                    }
                }
                
            }
        }
    }
}


.flight-container{
    height: 80vh;
    width: 80%;
    margin-left: 10%;
    .acf-map {
        width: 100%;
        height: 60vh;
        border: #ccc solid 1px;
        margin: 20px 0;
    }
    
    // Fixes potential theme css conflict.
    .acf-map img {
       max-width: inherit !important;
    }
}

.post_page{
    display: flex;
    overflow: hidden;
    &__left{
        width: 50%;
        max-height: 25rem;
        transform: skewX(-11.8deg);
        &--img{
            position: relative;
            left: -5rem;
            width: 100%;
            height: 100%;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 0 0 5rem 0;
            }
        }
    }
    &__right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3rem 2rem;
        width: 50%;
        &--title{
            position: relative;
            width: 120%;
            left: -10%;
            padding:3rem 3rem;
            text-align: center;
            background: $red;
            font-size: 1.5rem;
            font-weight: bold;
            color: white;
            z-index: -1;
        }
    }
}
.bottom--content{
    padding: 10% 5%;
}


//for JS animations

.left{
    transform: translateX(-20%);
    opacity: 0!important;
}

.right{
    transform: translateX(20%);
    opacity: 0!important;
}











