$black: #19191e;
$gray: rgb(128,128,128);
$red: rgb(163, 27, 27);
$red-dark: rgb(143, 27, 27);
$white: rgb(255, 255, 255);

html{
    // scroll-behavior: smooth;
}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75rem;
}

// HEADER

.header_main{
    &__nav{
        display: flex;
        height: 3rem;
        padding: 1rem 5rem;
        // border-bottom: 0.1rem solid #b6b6b64d;

        // background:rgba(255, 255, 255, 0.3);
        text-transform: uppercase;
        &__logo{
            display: flex;
            align-items: center;
            flex: 1;
            div{
                font-size: 1rem;
                margin-left: 1rem;
                font-weight: bold;
            }
            img{
                height: 100%;
            }
        }
        &__menu{
            flex: 1;

            &--left{
                ul{
                    display: flex;
                    list-style: none;
                    justify-content: space-evenly;
                    li{
                        text-align: end;
                        flex: 1;
                    }
                    a{
                        font-size: 1rem;
                        text-decoration: none;
                        font-weight: bold;                        
                        color: $black;
                    }
                    a:hover{
                        color: $gray;
                    }
                }
            }
            
        }
    }
}

// FOOTER

.footer{
    margin-top: 10%;
    height: 15vh;
    background: $red;
    color: #fff;
    padding: 1rem;

    display: flex;
    justify-content: space-around;
    a{
        color: #fff;
        text-decoration: none;
    }
    li{
        list-style: none;
    }
    &__menu{
        ul{
            li{
                padding-bottom: 1rem;
                a:hover{
                    color: rgb(189, 189, 189);
                }
            }
        }
    }
    &__media{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        &--one{
            height: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                height: 100%;
            }
        }
    }
    &__up{
        position: relative;
        .balloon{
            position: absolute;
            left: 40%;
            width: 5rem;
            height: 5rem;
            background:rgb(255, 255, 255);
            border-radius: 50%;
            z-index: 2;
            animation: float 3s infinite;
            transition: all 0.4s ease-out; 
            cursor: pointer;
            .arrow {
                position: absolute;
                border: solid #fff;
                border-width: 0 3px 3px 0;
                display: inline-block;
                padding: 3px;
                left: 6rem;
                top: 3.5rem;
            }
            .arrow:nth-child(1){
                top: 4rem;
            }
            .arrow:nth-child(2){
                top: 4.5rem;
            }
            .right {
                transform: rotate(-90deg);
                -webkit-transform: rotate(-135deg);
            }
        }
        @keyframes float{
            50%{
                transform: translateY(0.75rem);
            }
        }
        .balloon:before{
            position: absolute;
            left: 0.5rem;
            content: "";
            width: 4rem;
            height: 5rem;
            background: #db8534;
            border-radius: 50%;
            z-index: 2;
        }
        .balloon:after{
            position: absolute;
            top: 0;
            left: 1.5rem;
            content: "";
            width: 2rem;
            height: 5rem;
            background: rgb(255, 255, 255);
            border-radius: 50%;
            z-index: 2;
        }
        .balloon:hover{
            opacity: 0.85;
        }
        .bottom{
            background: #fff;
            position: absolute;
            height: 1rem;
            width: 2rem;
            left: 1.5rem;
            bottom: -0.5rem;
            z-index: 1;
        }
        .bottom:after{
            position: absolute;
            bottom: -0.2rem;
            left: -0.1rem;
            content: "";
            width: 2.2rem;
            height: 0.3rem;
            background: #fff;
            z-index: 1;
        }
        .basket{
            position: absolute;
            bottom: -3rem;
            left: 1.6rem;
            width: 1.8rem;
            height: 1rem;
            background: #fff;
            border-radius: 20%;
        }
        .basket:before{
            content: "";
            position: absolute;
            background: #fff;
            left: -0.1rem;
            top: 0rem;
            width: 2rem;
            height: 0.2rem;
            z-index: 2;
            border-radius: 20%;
        }
        .rope{
            position: absolute;
            left: 2.5rem;
            top: 5rem;
            height: 2rem;
            width: 0.1rem;
            background: #fff;
        }
        .rope:before{
            content: "";
            position: absolute;
            top: 0.6rem;
            left: 0.70rem;
            height: 1.5rem;
            width: 0.1rem;
            background: #fff;
            z-index: 3;
            transform: rotate(20deg);
        }
        .rope:after{
            content: "";
            position: absolute;
            top: 0.6rem;
            left: -0.80rem;
            height: 1.5rem;
            width: 0.1rem;
            background: #fff;
            z-index: 3;
            transform: rotate(-20deg);
        }
        
    }
}

// LOADER


// MAIN VIDEO

.video-background {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  height: 100vh;
  z-index: -99;
  overflow: hidden;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#vidtop-content {
	top: 0;
	color: #fff;
}


@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}

.section-one{
    background: #fff;
    margin: 110vh 10% 0 10%;
    display: flex;
    width: 80%;
    height: 60%;
    justify-content: center;
    &__photo{
        position: relative;
        width: 100%;
        height: 25rem;
        flex: 1;
        &--main{
            img{
                position: absolute;
                margin-left: -30%;
                clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);

                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .icon{
                position: absolute;
                width: 4rem;
                height: 4rem;
                background: $red;
                border-radius: 0.5rem;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            }
            &--right{
                left: 40%;
                bottom: -2rem;
                img{
                    width: 50%;
                    object-fit: scale-down;
                    margin-left: 1rem;
                    clip-path: none;
                }
            }
            &--left{
                left: -8%;
                top: -2rem;
                img{
                    width: 50%;
                    object-fit: scale-down;
                    margin-left: 1rem;
                    clip-path: none;
                }
            }
        }
        
    }
    &__text{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        &--title{
            margin-bottom: 1rem;
            font-weight: bold;
            font-size: 1.5rem;
        }
        &--desc{
            line-height: 1.5rem;
        }
    }
}

.section-two{
    margin: 10% 5% 0 5%;
    display: flex;
    justify-content: space-evenly;
    &__one{
        width: 25%;
        height: 35rem;
        display: flex;
        flex-direction: column;

        text-align: center;
        border-radius: 1rem;
        box-shadow: 0.3rem 0.3rem 0.8rem rgba(0,0,0,0.9);
        cursor: pointer;
        overflow: hidden;
        transition: 0.5s ease;
        &--imgbox{
            img{
                width: 100%;
                height: 15rem;
                object-fit: cover;
            }
        }
        &--date{
            margin-top: 1rem;
            color: $red-dark;
            font-weight: bold;
        }
        &--title{
            font-size: 1.2rem;
            font-weight: bold;
        }
        &--desc{
            line-height: 1.3rem;
            overflow: hidden;
        }
        &--button{
            cursor: pointer;
            border: 0;
            background: #fff;
            color: $red-dark;
            font-weight: bold;
            .arrow {
                border: solid $red;
                border-width: 0 3px 3px 0;
                display: inline-block;
                padding: 3px;
              }
              
              .right {
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
              }
        }
        &__stats{
            margin-top: auto;
            display: flex;
            background: $red;
            color: white;
            &--info{
                flex: 1;
                padding: 5%;
                height: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                &--up{
                    display: flex;
                }
                &--number{
                    font-size: 1rem;
                    font-weight: bold;
                }
                &--metric{
                }
                &--type{
                    color: rgba(256,256,256,0.75);
                    text-transform: uppercase;
                    font-size: 0.6rem;
                }
            }
            .special{
                border-left: $red-dark solid 0.1rem;
                border-right: $red-dark solid 0.1rem;
            }
        }
    }
    &__one:hover{
        transform: scale(1.15);
        box-shadow: 0.3rem 0.3rem 0.8rem rgba(0,0,0,0.9);
    }
}

//contact

.main{
    
    display: flex;
    align-items: center;
    flex-direction: column;
    .contact{
        margin-top: 10%;
        width:75%;
        height:25rem;
        background:#fff;
        padding:1rem 1.5rem;
        overflow:hidden;
        border: solid 0.2rem $red-dark;
        border-radius: 5rem 5rem 5rem 5rem;
        border-color: transparent $red transparent $red-dark;
        // box-shadow:0.3rem 0.6rem 0.3rem #ccc;
        &__top{
            height: 4rem;
            display: flex;
            align-items: center;
            .active{
                color: $red-dark;
            }
            div{
                width:calc(100% / 4);
                text-align:center;
                color:#888;
                font-weight:600;
                cursor: pointer;
                font-size:14px;
                text-transform:uppercase;
                outline:none;
            }
        }
        &__indicator{
            position:relative;
            width:25%;
            height:0.25rem;
            background:$red-dark;
            left:0px;
            border-radius:0.3rem;
            transition:all 500ms ease-in-out;
        }
        &__body{
            position:relative;
            height:calc(100% - 60px);
            padding:10px 5px;
            div{
                position:absolute;
                top:-200%;
                opacity:0;
                transform:scale(0.9);
                transition:opacity 500ms ease-in-out 0ms,
                transform 500ms ease-in-out 0ms;
            }
            .active{
                top:0px;
                opacity:1;
                transform:scale(1);
            }
        }
    }
}

.form{
    width: 75%;
    margin-top: 5%;
    padding:1rem 1.5rem;
    border: solid 0.2rem $red-dark;
        border-radius: 5rem 5rem 5rem 5rem;
        border-color: transparent $red transparent $red-dark;
    #wpcf7-f97-o1{
        padding: 5% 10%;
        border: 1px solid black;
    }
}











